<div class="layout-content">
  <div class="layout-content-body">
    <div class="title-bar">
      <h1 class="title-bar-title">
        <span class="d-ib">Consola</span>
        <span class="d-ib">
                <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
                  <span class="sr-only">Add to shortcut list</span>
                </a>
        </span>
      </h1>
      <p class="title-bar-description">
        <small>Administre sus patentes</small>
      </p>
    </div>
    <div class="row gutter-xs">
      <div class="col-xs-12 col-md-12">
        <div class="card">
          <div align="center" class="card-body">
            <h4 class="card-title">Sistema de Gestión de Patentes</h4><br /><br />
          <img src="http://heythink.cl/img/muni_nunoa.jpg" width="183" height="203" /> <br /><br />
          <h3 class="card-title">Ilustre Municipalidad de Ñuñoa</h3>
          </div>
          
        </div>
      </div>
     
    </div>
    <div class="row gutter-xs">
      <div class="col-md-4 col-md-pull-8">
        <div class="card">
          <div class="card-body">
            <button class="btn btn-primary btn-sm btn-block" type="button">See all</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>