<div class="layout-content">
  <div class="layout-content-body">
    <div class="title-bar">
      <h1 class="title-bar-title">
        <span class="d-ib">Locales con error en direccion </span>

      </h1>
      <p class="title-bar-description">
        <small>Por favor reescriba la dirección en la forma correcta</small>
      </p>
    </div>
    <div class="col-md-12">
      <div id="demo-map-2"></div>
    </div>



    <%= react_component 'error', 'errores':@errores %>



  </div>
</div>