<div class="layout-content">
  <div class="layout-content-body">
    <div class="title-bar">
      <h1 class="title-bar-title">
              <span class="d-ib">Usuarios del sistema

              </span>

      </h1>
      <p class="title-bar-description">
        <small>Mediante este panel puedes agregar y editar usuarios de la plataforma.</small>
      </p>
    </div>
    <div class="row gutter-xs">
      <div class="col-md-5">
        <div class="row gutter-xs">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header bg-primary">
                <small>Usuarios del sistema </small>
              </div>
              <div class="card-body">
                <ul class="media-list"><% Usuario.all().each do |usuario| %>
                  <li class="media">
                    <div class="media-middle media-left">
                      <a href="#">
<!--
                        <img class="img-circle" width="40" height="40" src="img/0299419341.jpg" alt="Harry Jones">
-->
                      </a>
                    </div>
                    <div class="media-middle media-body">
                      <h5 class="m-y-0"><%= usuario.nombre %> <%= usuario.apellido %></h5>
                      <small><%= usuario.rol %></small>
                    </div>
                    <div class="media-middle media-right">
                      <a href="/usuarios/<%= usuario.id %>" class="btn btn-outline-primary btn-sm">Editar</a>
                    </div>
                  </li><%end%>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-7">
        <div class="demo-form-wrapper">
          <form class="form form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label" for="form-control-1">Nombre</label>
              <div class="col-sm-9">
                <input id="form-control-1" class="form-control" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="form-control-1">Apellido</label>
              <div class="col-sm-9">
                <input id="form-control-1" class="form-control" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="form-control-1">Rut</label>
              <div class="col-sm-9">
                <input id="form-control-1" class="form-control" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="form-control-1">E-mail</label>
              <div class="col-sm-9">
                <input id="form-control-1" class="form-control" type="email">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="form-control-2">Contraseña</label>
              <div class="col-sm-9">
                <input id="form-control-2" class="form-control" type="password" value="test.1234">
              </div>
            </div>



            <div class="form-group">
              <label class="col-sm-3 control-label" for="form-control-6">Rol</label>
              <div class="col-sm-9">
                <select id="form-control-6" class="form-control">
                  <option value="c-plus-plus">Administrador</option>
                  <option value="css">Inspector</option>
                  <option value="java">Cajero</option>

                </select>
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-primary btn-block btn-next" type="button"  >Crear usuario</button>
            </div>


          </form>
        </div>

      </div>

    </div>


  </div>
</div>