<div class="layout-content">
  <div class="layout-content-body">
    <div class="title-bar center">
      <h1 class="title-bar-title">
        <span>Soporte HeyCity</span></h1>
      <p class="title-bar-description">
        <small>Cuentanos tu problema y te responderemos a la brevedad.</small></p>
    </div>
    <div class="row gutter-xs">
      <div class="col-md-10">
        <div class="demo-form-wrapper">
          <%= react_component("Soporte",{usuario:@current_user})%>
        </div>
      </div>
    </div>
  </div>
</div>