
.table-fixed{
  width: 100%;
  tbody{
    height:300px;
    overflow-y:auto;
    width: 100%;
  }
  thead,tbody,tr,td,th{
    display:block;
  }
  tbody{
    td{
      float:left;
    }
  }
  thead {
    tr{
      th{
        float:left;
        background-color: rgb(47, 64, 80);
        border-color:#2f4050;
      }
    }
  }
}
